* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #142f43;
  font-family: "Roboto", sans-serif;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: aliceblue;
}

.home__ip {
  border: 1px solid white;
  padding: 10px 15px;
}
